# very large file generated in Example Wamit_createHB_1
wam_hb1_1_out.mat

*.asv
*~

# Wamit output wave field files - can sometimes be large
*.6p
*.6vx
*.6vy
*.6vz

# Video files
*.avi

# Nemoh output files

# Ignore the contents of the Example BEM folders
Examples/bemRunFolder/**

# Ignore contents of UnitTest Wamit folders
UnitTests/WamitRuns/mv_ut1/**
UnitTests/WamitRuns/ut1/**
UnitTests/WamitRuns/ut2/**
UnitTests/WamitRuns/ut3/**
UnitTests/WamitRuns/ut4/**
UnitTests/WamitRuns/ut6/**
UnitTests/WamitRuns/ut7/**
UnitTests/WamitRuns/ut8/**
UnitTests/WamitRuns/ut9/**
UnitTests/WamitRuns/bodySurfUT/**
UnitTests/WamitRuns/tempRun/**
Examples/bemRunFolder/
